In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [11]:
df = pd.read_csv("C:/Users/15694/Desktop/Cross selling/code/Michelle/data.csv")

C:\Users\15694\AppData\Local\Temp\ipykernel_9832\602565148.py:1: DtypeWarning: Columns (2,30,31,125) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:/Users/15694/Desktop/Cross selling/code/Michelle/data.csv")

In [12]:
df.shape

(4549303, 126)

In [13]:
df_l = pd.read_csv("C:/Users/15694/Desktop/Cross selling/code/Michelle/Loan Amount Details.csv")

In [14]:
df_l.head()

,CIFNO,LNACC,LNAMOUNT,LNODATE,LNPERIOD,LNBALOS,LNLSTPAY,LNEXPDT,LNCLOSEDATE,LNSTATUS,LNBRCODE,LNBRNNAME,QSTYPEDES
0,998000057934,2040002798,610000.00,9/29/2003,240.0,133427.61,1/24/2024,9/24/2027,NaN,A,4,HEAD OFFICE,Private Person
1,998000038403,2040002831,15444.00,10/1/2003,229.0,3475.43,1/24/2024,10/24/2027,NaN,A,4,HEAD OFFICE,Private Person
2,998000318855,46040000164,700000.00,7/24/2003,213.0,32912.53,1/24/2024,10/24/2024,NaN,A,4,HEAD OFFICE,Private Person
3,998000165501,4040645781,94384.56,8/7/2003,252.0,25343.98,1/24/2024,8/7/2028,NaN,A,4,HEAD OFFICE,Private Person
4,998000016635,4040648856,63282.95,8/7/2003,227.0,2019.29,1/24/2024,6/24/2024,NaN,A,4,HEAD OFFICE,Private Person

In [17]:
df_l.shape

(157840, 13)

In [18]:
df_l1=df_l[["CIFNO","LNAMOUNT"]]

In [19]:
df_l1.shape

(157840, 2)

In [20]:
sum_by_cif = df_l1.groupby('CIFNO')['LNAMOUNT'].sum().reset_index()

In [21]:
sum_by_cif.shape

(101044, 2)

In [22]:
unique_cifno_count_lnamount = sum_by_cif['CIFNO'].nunique()

if unique_cifno_count_lnamount== len(sum_by_cif):
    print("All CIFNO values are unique.")
else:
    print("There are duplicate CIFNO values.")

All CIFNO values are unique.

In [23]:
sum_by_cif.head()

          CIFNO   LNAMOUNT
0  998000000102  4480000.0
1  998000000173  2500000.0
2  998000000219  3600000.0
3  998000000262   475000.0
4  998000000312    69000.0

In [24]:
# Merge based on CIFNO and ACCOUNT_NO
merged_df = pd.merge(df, sum_by_cif, on=['CIFNO'], how='left')

In [25]:
merged_df.head()

,PROD_ID,CIFNO,ACCOUNT_NO,ACCOUNT_STATUS,PRODUCT_DESC,SUB_PRODUCT_DESC,BAL_OS,AVG_BAL,LAST_TRAN_DATE,TOTAL_CR,TOTAL_DR,NO_CR,NO_DR,NET_FEE_INCOME,NET_INTEREST_INCOME,CURRENCY_CD,BRANCH_CD,BRANCH_NAME,REGION_CD,REGION_NAME,YEARMON_x,SUB_PROD_ID,ACCOUNT_JOINT,NO_OF_CHQ_RTN,AMOUNT_OF_CHQ_RTN,DPD,NPA_CATEGORY,DPD_LAST_3_MONTH,NPA_CATEGORY_LAST_3_MONTH,DPD_LAST_6_MONTH,NPA_CATEGORY_LAST_6_MONTH,LATEST_NPA_DATE,LIMIT_AMOUNT,INCENTIVE_AMT,SCHM_CODE,SCHM_DESC,PRODUCT_GROUP,SBU_ID_x,MATURITY_DATE,SBU_ID_y,NICNO,CUST_NAME,NPA_FLAG,NO_ACCOUNTS_SAVINGS,BAL_OS_SAVINGS,AVG_BAL_OS_SAVINGS,SIX_MONTH_BAL_OS_SAVINGS,NO_ACCOUNTS_CURRENT,BAL_OS_CURRENT,AVG_BAL_OS_CURRENT,SIX_MONTH_BAL_OS_CURRENT,NO_ACCOUNTS_FD,BAL_OS_FD,AVG_BAL_OS_FD,SIX_MONTH_BAL_OS_FD,NO_ACCOUNTS_HOUSING,BAL_OS_HOUSING,AVG_BAL_OS_HOUSING,SIX_MONTH_BAL_OS_HOUSING,NO_ACCOUNTS_TERM,BAL_OS_TERM,AVG_BAL_OS_TERM,SIX_MONTH_BAL_OS_TERM,NO_ACCOUNTS_LEASING,BAL_OS_LEASING,AVG_BAL_OS_LEASING,SIX_MONTH_BAL_OS_LEASING,NO_ACCOUNTS_PAWNING,BAL_OS_PAWNING,AVG_BAL_OS_PAWNING,SIX_MONTH_BAL_OS_PAWNING,NO_ACCOUNTS_PERSONAL,BAL_OS_PERSONAL,AVG_BAL_OS_PERSONAL,SIX_MONTH_BAL_OS_PERSONAL,NO_ACCOUNTS_SHORT_TERM,BAL_OS_SHORT_TERM,AVG_BAL_OS_SHORT_TERM,SIX_MONTH_BAL_OS_SHORT_TERM,NO_ACCOUNTS_STAFF,BAL_OS_STAFF,AVG_BAL_OS_STAFF,SIX_MONTH_BAL_OS_STAFF,NO_ACCOUNTS_TRADE,BAL_OS_TRADE,AVG_BAL_OS_TRADE,SIX_MONTH_BAL_OS_TRADE,NO_ACCOUNTS_DEVELOPMENT,BAL_OS_DEVELOPMENT,AVG_BAL_OS_DEVELOPMENT,SIX_MONTH_BAL_OS_DEVELOPMENT,NO_ACCOUNTS_REFINANCE,BAL_OS_REFINANCE,AVG_BAL_OS_REFINANCE,SIX_MONTH_BAL_OS_REFINANCE,NO_ACCOUNTS_CARD,BAL_OS_CARD,AVG_BAL_OS_CARD,SIX_MONTH_BAL_OS_CARD,NO_ACCOUNTS_OD,BAL_OS_OD,AVG_BAL_OS_OD,SIX_MONTH_BAL_OS_OD,TOTAL_AVG_BAL,YEARMON_y,FD_AMOUNT_UNDER_LIEN,CURRENT_AMOUNT_UNDER_LIEN,SAVINGS_AMOUNT_UNDER_LIEN,CUSTOMER_PROFITABILITY,HOMELOAN_AMOUNT,PERSONALLOAN_AMOUNT,PHONE_NO,ARMCODE,ARMNAME,E_BANKING_ACCOUNTS,E_BANKING_STATUS,E_BANKING_STATEMENT,SOLO_ACCOUNTS,FINACLE_ALERT,NO_DEBIT_CARDS,DEBIT_CARD_USAGE,CREDIT_CARD_USAGE,PAYFAST_ACCOUNT,NII,DIGITAL_APP,QSTYPE,LNAMOUNT
0,2,998101782755,103020266468,D,Savings,SAVINGS - GENERAL,0.00,0.00,2/20/2018,0.00,0.0,0.0,0.0,0.0,0.00,LKR,103,DEMATAGODA,3,Greater Colombo Region,202311,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SAGEN,SAVINGS ACCOUNT GENERAL,NaN,10,NaN,10.0,197775101319,SIYAR S S,NaN,1.0,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,202311.0,NaN,NaN,NaN,0.00,NaN,NaN,NaN,99999,UPLOAD USER FOR ITCO (ISD CO),NaN,N,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.00,NaN,1.0,NaN
1,2,998101242090,098300061951,NaN,Savings,SAVINGS MAJOR INVESTMENT,5132.92,5120.87,NaN,NaN,NaN,NaN,NaN,0.0,14.67,LKR,98,KOTTAWA,10,South Western Region,202311,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,20.0,873561394V,LALANTHA W P R,Y,3.0,5404.82,5604.27,19533.42,1.0,75738.9,87858.18,194303.61,NaN,NaN,NaN,NaN,2.0,7425744.76,7378889.67,7422954.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1948255.87,1937703.91,2174881.48,NaN,NaN,NaN,NaN,1.0,165326.04,164495.60,158714.15,NaN,NaN,NaN,NaN,9970386.80,202311.0,NaN,NaN,107407.08,40740.15,9000000.0,NaN,NaN,99999,UPLOAD USER FOR ITCO (ISD CO),1.0,A,Y,Y,Y,1.0,NaN,0.00,NaN,38478.15,Y,1.0,11000000.0
2,2,998101585644,039810184310,A,Savings,SAVINGS - FCY,22.93,22.93,5/25/2022,0.00,0.0,0.0,0.0,0.0,0.00,USD,39,BAMBALAPITIYA,1,Colombo Region,202311,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SRFC,SA-PFCA,PFCA,10,NaN,10.0,860402750V,ADHIKARI S S,NaN,2.0,525.29,6932.70,5373.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,72241.81,73450.48,64745.53,NaN,NaN,NaN,NaN,70118.75,202311.0,NaN,NaN,NaN,1319.96,NaN,NaN,NaN,99999,UPLOAD USER FOR ITCO (ISD CO),1.0,N,Y,NaN,Y,3.0,NaN,12047.62,NaN,1209.96,Y,1.0,NaN
3,2,998000137604,043020127622,A,Savings,SAVINGS - MINOR,1042.50,1039.98,1/11/2009,3.03,0.0,1.0,0.0,0.0,10.75,LKR,43,KIRULAPANA,3,Greater Colombo Region,202311,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SAMI3,SAVINGS ACCOUNT TEEN,NaN,10,NaN,10.0,CIF000137604,PILIPPUWITHANA K S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,202311.0,NaN,NaN,NaN,10.75,NaN,NaN,NaN,99999,UPLOAD USER FOR ITCO (ISD CO),NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.75,NaN,1.0,NaN
4,2,998R00652174,080020298762,A,Savings,SAVINGS - MINOR,1005.43,1001.59,10/25/2023,4.61,0.0,1.0,0.0,0.0,8.71,LKR,80,MARAWILA,2,North Western Region,202311,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SAMI1,SINGITHI KIRIKATIYO,NaN,10,NaN,10.0,202308256310,RASHMINI D S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,202311.0,NaN,NaN,NaN,8.71,NaN,NaN,NaN,04248,E A L P E WARAGODA,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.71,NaN,1.0,NaN

In [26]:
merged_df.isna().sum()

PROD_ID                               0
CIFNO                                 0
ACCOUNT_NO                            0
ACCOUNT_STATUS                    28826
PRODUCT_DESC                          0
SUB_PRODUCT_DESC                      0
BAL_OS                                0
AVG_BAL                               0
LAST_TRAN_DATE                   559709
TOTAL_CR                        1121883
TOTAL_DR                        1141802
NO_CR                           1246622
NO_DR                           1265379
NET_FEE_INCOME                        0
NET_INTEREST_INCOME                   0
CURRENCY_CD                           0
BRANCH_CD                             0
BRANCH_NAME                           0
REGION_CD                             0
REGION_NAME                           0
YEARMON_x                             0
SUB_PROD_ID                           0
ACCOUNT_JOINT                   4298082
NO_OF_CHQ_RTN                   4425726
AMOUNT_OF_CHQ_RTN               4425726
DPD                             4458737
NPA_CATEGORY                    4549303
DPD_LAST_3_MONTH                4549303
NPA_CATEGORY_LAST_3_MONTH       4549303
DPD_LAST_6_MONTH                4501205
NPA_CATEGORY_LAST_6_MONTH       4499752
LATEST_NPA_DATE                 4526089
LIMIT_AMOUNT                    4341481
INCENTIVE_AMT                   4140453
SCHM_CODE                        657076
SCHM_DESC                        662169
PRODUCT_GROUP                   4284635
SBU_ID_x                              0
MATURITY_DATE                   3406217
SBU_ID_y                            167
NICNO                            337180
CUST_NAME                        337166
NPA_FLAG                        4430564
NO_ACCOUNTS_SAVINGS              992498
BAL_OS_SAVINGS                   992498
AVG_BAL_OS_SAVINGS               992498
SIX_MONTH_BAL_OS_SAVINGS         991985
NO_ACCOUNTS_CURRENT             4228831
BAL_OS_CURRENT                  4228831
AVG_BAL_OS_CURRENT              4228831
SIX_MONTH_BAL_OS_CURRENT        4161933
NO_ACCOUNTS_FD                  3760713
BAL_OS_FD                       3760713
AVG_BAL_OS_FD                   3760713
SIX_MONTH_BAL_OS_FD             3723858
NO_ACCOUNTS_HOUSING             4504811
BAL_OS_HOUSING                  4504811
AVG_BAL_OS_HOUSING              4504811
SIX_MONTH_BAL_OS_HOUSING        4503079
NO_ACCOUNTS_TERM                4434348
BAL_OS_TERM                     4434348
AVG_BAL_OS_TERM                 4434348
SIX_MONTH_BAL_OS_TERM           4418901
NO_ACCOUNTS_LEASING             4437954
BAL_OS_LEASING                  4437954
AVG_BAL_OS_LEASING              4437954
SIX_MONTH_BAL_OS_LEASING        4428901
NO_ACCOUNTS_PAWNING             4160311
BAL_OS_PAWNING                  4160311
AVG_BAL_OS_PAWNING              4160311
SIX_MONTH_BAL_OS_PAWNING        4160312
NO_ACCOUNTS_PERSONAL            4415547
BAL_OS_PERSONAL                 4415547
AVG_BAL_OS_PERSONAL             4415547
SIX_MONTH_BAL_OS_PERSONAL       4407994
NO_ACCOUNTS_SHORT_TERM          4532431
BAL_OS_SHORT_TERM               4532431
AVG_BAL_OS_SHORT_TERM           4532431
SIX_MONTH_BAL_OS_SHORT_TERM     4529640
NO_ACCOUNTS_STAFF               4490694
BAL_OS_STAFF                    4490694
AVG_BAL_OS_STAFF                4490694
SIX_MONTH_BAL_OS_STAFF          4489442
NO_ACCOUNTS_TRADE               4540369
BAL_OS_TRADE                    4540369
AVG_BAL_OS_TRADE                4540369
SIX_MONTH_BAL_OS_TRADE          4537673
NO_ACCOUNTS_DEVELOPMENT         4452920
BAL_OS_DEVELOPMENT              4452920
AVG_BAL_OS_DEVELOPMENT          4452920
SIX_MONTH_BAL_OS_DEVELOPMENT    4445391
NO_ACCOUNTS_REFINANCE           4533234
BAL_OS_REFINANCE                4533234
AVG_BAL_OS_REFINANCE            4533234
SIX_MONTH_BAL_OS_REFINANCE      4531286
NO_ACCOUNTS_CARD                3914363
BAL_OS_CARD                     3914363
AVG_BAL_OS_CARD                 3914363
SIX_MONTH_BAL_OS_CARD           3901133
NO_ACCOUNTS_OD                  4448396
BAL_OS_OD                       4448396
AVG_BAL_OS_OD                   4448396
SIX_MONTH_BAL_OS_OD             4413740
TOTAL_AVG_BAL                       167
YEARMON_y                           167
FD_AMOUNT_UNDER_LIEN            4544254
CURRENT_AMOUNT_UNDER_LIEN       4529565
SAVINGS_AMOUNT_UNDER_LIEN       4327415
CUSTOMER_PROFITABILITY              167
HOMELOAN_AMOUNT                 4505861
PERSONALLOAN_AMOUNT             4418233
PHONE_NO                        4549303
ARMCODE                          419137
ARMNAME                          419610
E_BANKING_ACCOUNTS              3776372
E_BANKING_STATUS                    167
E_BANKING_STATEMENT             3491015
SOLO_ACCOUNTS                   4001620
FINACLE_ALERT                   2827227
NO_DEBIT_CARDS                  2194538
DEBIT_CARD_USAGE                3616304
CREDIT_CARD_USAGE               3895520
PAYFAST_ACCOUNT                 4522537
NII                                 167
DIGITAL_APP                     3053005
QSTYPE                           418987
LNAMOUNT                        4096404
dtype: int64

In [27]:
# Save the merged data as a new CSV file or update the existing CSV file
filepath=r"C:/Users/15694/Desktop/Cross selling/code/Michelle/final_data_with_Loan.csv"
merged_df.to_csv(filepath, index=False)

In [28]:
merged_df.shape

(4549303, 127)